body {
	padding: 0;
	margin: 0;
	font-family: tahoma, verdana, arial, sans;
	font-size: 12px;
}

.navbar {
	min-height: 50px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #435274;
	border-bottom: solid 1px #464769;
	color: #fff;
}

.navbar_container {
	padding-top: 18px;
	overflow: hidden;
}

.navbar_left {
	font-weight: bold;
	width: 140px;
	float: left;
}

.navbar_right {
	width: 200px;
	float: right;
	text-align: right;
}

.page_container {
	padding: 0;
	margin: 0 auto;
	width: 800px;
}

.page_welcome {
	height: 300px;
	padding: 40px;
	background-color: #eaeaea;
	border: solid 1px #ccc;
	border-radius: 5px;
}

.page_welcome_title {
	text-align: center;
	font-size: 24px;
}

.page_footer {
	margin-top: 20px;
	font-size: 11px;
	text-align: center;
}