body {
	padding: 0;
	margin: 0;
	font-family: tahoma, verdana, arial, sans;
	font-size: 12px;
}

.navbar {
	min-height: 50px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #435274;
	border-bottom: solid 1px #464769;
	color: #fff;
}

.navbar_container {
	padding-top: 18px;
	overflow: hidden;
}

.navbar_left {
	font-weight: bold;
	width: 140px;
	float: left;
}

.navbar_right {
	width: 200px;
	float: right;
	text-align: right;
}

.navbar_container a {
	text-decoration: none;
	color: #fff;
}

.page_container {
	padding: 0;
	margin: 0 auto;
	width: 800px;
}

.page_welcome {
	padding: 40px;
	background-color: #eaeaea;
	border: solid 1px #ccc;
	border-radius: 5px;
	text-align: center;
}

.page_welcome_title {
	font-size: 24px;
}

.page_welcome_desc {
	margin-top: 20px;
}

.page_welcome_content {
	margin-top: 30px;
}

.page_welcome_form {
	margin-top: 15px;
}

.form_validation {
	background-color: #EAAF96;
	border: solid 1px #842E2E;
	margin: 15px auto;
	padding: 10px 5px;
	width: 380px;
}

.form_item {
	margin: 0 auto 10px auto;
	width: 220px;
}

.form_item input,select,button {
	padding: 5px 6px;
	width: 100%;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.main_button {
	background-color: #536b9e;
	border: solid 1px #4f5f94;
	color: #fff;
	cursor: pointer;
	padding: 7px;
	outline: none;
	border-radius: 2px;
}

.main_button:hover {
	background-color: #6981b5;
}

.page_footer {
	margin-top: 20px;
	font-size: 11px;
	text-align: center;
}